<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Message Form</title>
</head>
<body>
  <header>
    <h1><%= title %></h1>
  </header>
  <%- include("partials/error.ejs") %>
  <main>
    <form method="post" action="/new">
      <label for="name">Name: </label>
      <input type="text" id="name" name="name" required>
      <label for="text">Message: </label>
      <textarea id="text" name="text" minlength="1" maxlength="200" required></textarea>
      <button type="submit">Submit</button>
    </form>
  </main>
</body>
</html>